<!DOCTYPE html>
<html lang="en" data-theme="cupcake">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rose+Co Client Formulas</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="https://res.cloudinary.com/aliapurplejello/image/upload/v1667323919/rose-and-co-light_vjskbs.png"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css" />


  </head>
  <header class="header">
    <nav>
  <div class="navbar">
    <div class="flex-1">
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal p-0">
        <li><a class="normal-case text-xl" href="/newclient">Add New Client</a></li>
        <li><a class="normal-case text-xl" href="/myclients">My Clients</a></li>
        <li><a class="normal-case text-xl" href="/feed">Salon Clients</a></li>
      </ul>
    </div>
  
</nav>
  </header>
</html>
