<!DOCTYPE html>
<html lang="en" data-theme="cupcake">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Rose+Co helps hair stylists track all of their client information in one convenient place." />
    <title>Rose+Co</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="https://res.cloudinary.com/aliapurplejello/image/upload/v1667323919/rose-and-co-light_vjskbs.png"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css" />
<script src="https://cdn.tailwindcss.com"></script> 
<body id="login">

  <header>
    <nav>
  <div class="navbar">
    <div class="flex-1">
    </div>
  </nav>
</header>
<div>
  <section id="banner">
<div class="main-class">
  <div>
    <h1 class="text-6xl">Rose+Co</h1>
    <h1 class="text-5xl ">The Hair Stylist's Memory Bank</h1>
  </div>
  <div>
    <br>
  </div>
  <ul class="actions stacked">
    <div>
      <a href="/login" alt="login" class="button fit primary">Sign In</a>
    </div>
    <div>
      <a href="/signup" alt="signup" class="button fit">New Account</a>
    </div>
  </ul>
</div>
</section>
<section class="main-class">
    </div>
  </div>
</div>
<div class="main-track-headline">
    <div class="text-2xl"><strong>Track your client color formulas, haircuts, spark notes, and pictures all in one place.</strong></div>
  <div><br></div>
  <div class="container">
  </div>
</div>
				<!-- Two -->
        <section id="two" class="wrapper alt style2">

      

          <section class="spotlight">
            <div class="image"><img src="https://res.cloudinary.com/aliapurplejello/image/upload/v1671473632/pic01_ndoejf.png" alt="Preview of 'My Clients' page" /></div><div class="content">
              <div class=text-2xl><h2>My Clients</h2></div><br>
              <p>Your client formula cards are available all in one place to easily look up formulas, haircut details, and spark notes. Now you can get back to coloring hair sooner instead of trying to find what formula you used last time.</p>
            </div>
          </section>


          <section class="spotlight">
            <div class="image"><img src="https://res.cloudinary.com/aliapurplejello/image/upload/v1671473701/smart-mockup_wtk9ks.jpg" alt="Preview of a client formula card in the app" /></div><div class="content">
              <div class="text-2xl"><h2>Formulas at Your Fingertips</h2></div><br>
              <p>Add new formulas as your client's hair color desires change. Through your client formula cards on the app, you'll have the ability to see previous color formulas and haircut history.</p>
            </div>
          </section>

          

          <section class="spotlight">
            <div class="image"><img src="https://res.cloudinary.com/aliapurplejello/image/upload/v1671126462/pic02_pz8199.png" alt="preview of 'Salon Clients' page" /></div><div class="content">
              <div class="text-2xl"><h2>Salon Clients</h2></div><br>
              <p>Here you will find a list of every client that is in the salon's database. Quickly look up formula and hair cut details. Can see who the client's regular hair stylist is. Clicking on their picture will pull up their full client card with every detail.</p>
            </div>
          </section>
          <section class="spotlight">
            <div class="image"><img src="https://res.cloudinary.com/aliapurplejello/image/upload/v1671480008/add-new-client_ojwwle.png" alt="preview of 'Add New Client' page in the app" /></div><div class="content">
              <div class="text-2xl"><h2>Add New Client</h2></div></br>
              <p>Whether it be an important life update or changing a hair style - you can record every detail that matters to you here</p>
            </div>
          </section>
        
        </section>



      <!-- CTA -->
        <section id="cta" class="wrapper style4">
          <div class="inner">
            <header>
             <div class="text-4xl"><h2>Get started</h2></div><br>
              <div class="text-2xl"><p>Discover how smooth your days at the salon can go.</p></div>
              <br>
            </header>
            <ul class="actions stacked">
              <div>
                <a href="/login" alt="login" class="button fit primary">Sign In</a>
                <a href="/signup" alt="signup" class="button fit">New Account</a>
              </div>
            </ul>
          </div>
        </section>


  </body>

<!-- Footer -->
<footer id="footer">
  <ul class="copyright">
    <li>&copy; Alia Pirruccello</li>
  </ul>
</footer>

