<!DOCTYPE html>
<html lang="en" data-theme="cupcake">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Rose+Co helps hair stylists track all of their client information in one convenio" />
  
    <title>Rose+Co</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="https://res.cloudinary.com/aliapurplejello/image/upload/v1667323919/rose-and-co-light_vjskbs.png"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css" />
<script src="https://cdn.tailwindcss.com"></script> 
<body id="login">

  <header class="header-signin">
    <nav>
  <div class="navbar">
    <div class="flex-1">
      <a href="/" class="new-button">Rose+Co</a>
    </div>
  </nav>
</header>
<!-- <div style="background-image: url('https://res.cloudinary.com/aliapurplejello/image/upload/v1667258286/hair-salon_mrmfc2.jpg'); 
background-size: cover; height:560px; padding-top:80px;">
</div> -->
<div class="my-clients-login">
<div class="form">

  <div class="card card-compact w-96 shadow-xl sign-in-card">
  <div class="login">Sign in to your account</div>

<main class="container">
  <div class="row justify-content-center">
    <section class="col-6 mt-5">
      <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
      <div class="alert alert-danger"><%= el.msg %></div>
      <% }) %> <% } %> <% if (locals.messages.info) { %> <%
      messages.info.forEach( el => { %>
      <div class="alert alert-info"><%= el.msg %></div>
      <% }) %> <% } %>
      <form action="/login" method="POST">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label text-xl"
            >Email address</label
          >
          
          <input
            type="email"
            class="form-control input input-bordered input-primary input-lg w-full max-w-xs text-black text-xl"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            name="email"
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label text-xl">Password</label>
          <input
            type="password"
            class="form-control input input-bordered input-primary input-lg w-full max-w-xs text-black text-xl"
            id="exampleInputPassword1"
            name="password"
          />
        </div>
        <div>
        <button type="submit" class="button-signin">Submit</button>
      </div>
      </form>
    </section>
  </div>
</div>
</div>
</div>
<div class="bottom-login">
</div>
</main>
<!-- Footer -->
<footer id="footer">
  <ul class="copyright">
    <li>&copy; Alia Pirruccello</li>
  </ul>
</footer>