<%- include('partials/header') -%>

<div class="flex flex-col w-full border-opacity-50">
  <div class="grid h-20 card bg-base-300 rounded-box place-items-center">Add New Client Formula</div>

<div class="card w-96 bg-base-100 shadow-xl">
  <div class="row mt-5">
      <div class="col-6">
        <h1>New Client:</h1>
          
          <div class="mt-5">
            
            <form class="profileform" action="/post/createPost" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                  <label for="clientName" class="form-label">Client Name</label>
                  <input type="text" class="form-control" id="clientName" name="clientName">
              </div>
              <div class="mb-3">
                <label for="formula" class="form-label">Formula</label>
                <textarea class="form-control" id="formula" name="formula"></textarea>
              </div>
              <div class="mb-3">
                <label for="haircutNotes" class="form-label">Hair Cut Details</label>
                <textarea class="form-control" id="haircutNotes" name="haircutNotes"></textarea>
              </div>
              <div class="mb-3">
                <label for="imgUpload" class="form-label">Image</label>
                <input type="file" class="form-control" id="imageUpload" name="file">
              </div>
              <div class="mb-3">
                <label for="sparkNotes" class="form-label">Client Spark Notes</label>
                <textarea class="form-control" id="sparkNotes" name="sparkNotes"></textarea>
              </div>
              <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
            </form>
          </div>
        
      </div>
    </div>
    
  </div>
  <div class="logout">
    <p><strong>User Name</strong>: <%= user.userName %></p>
    <p><strong>Email</strong>: <%= user.email %></p>
    <a href="/logout" class="col-3 btn btn-primary">Logout</a>
</div>
<br>



      
  

  <footer>
    <div class="btm-nav">
      
      <button class="text-primary active">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" /></svg>
      </button>
    </a>
    
     <a href="/myclients"
      button class="text-primary">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
      </button>
    </a>
    <a href="/feed">
      <button class="text-primary">
      
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z" /></svg>
      
      </button>
    </a>
    </div>
    </footer>