<%- include('partials/header') -%>
<body id="new-client">
<!-- <div class="flex flex-col w-full border-opacity-50">
  <div class="grid flex-grow h-32 card bg-orange-100 rounded-box place-items-center">Add New Client Formula</div> -->
<div class="my-clients">
<div class="form">
  <div class="row mt-5">
      <div class="col-6">
        <div class="add-new-client text-3xl"></div>
        
          
          <div class="mt-5">
            <div class="card card-compact w-96 shadow-xl new-client-card">
            <form class="profileform" action="/post/createPost" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                  <label for="clientName" class="form-label text-xl">New Client Name</label>
                  <input type="text" class="form-control input input-bordered input-primary input-lg w-full max-w-xs text-black text-xl" id="clientName" name="clientName">
              </div>
              <div class="mb-3">
                <label for="formula" class="form-label text-xl">Formula</label>
                <textarea class="form-control input input-bordered input-primary input-lg w-full max-w-xs text-black text-xl" id="formula" name="formula"></textarea>
              </div>
              <div class="mb-3">
                <label for="haircutNotes" class="form-label text-xl">Hair Cut Details</label>
                <textarea class="form-control input input-bordered input-primary input-lg w-full max-w-xs text-black text-xl" id="haircutNotes" name="haircutNotes"></textarea>
              </div>
              <div class="mb-3">
                <label for="imgUpload" class="form-label text-xl">Image</label>
                <input type="file" class="form-control" id="imageUpload" name="file">
              </div>
              <div class="mb-3">
                <label for="sparkNotes" class="form-label text-xl">Client Spark Notes</label>
                <textarea class="form-control input input-bordered input-primary input-lg w-full max-w-xs text-black text-xl" id="sparkNotes" name="sparkNotes"></textarea>
              </div>
              <button type="submit" class="button-signin" value="Upload">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div id="logout">
  <div class="card w-96 bg-base100 shadow-xl">
  <div>
    <div class="card-body">
      <h2 class="card-title">You are currently logged in as</h2>
      <h2><strong>User Name:</strong> <%= user.userName %></h2>
      <h2><strong>Email</strong>: <%= user.email %></h2>
      <div class="card-actions justify-end">
    <a href="/logout" class="button-logout" alt="sign out button">Sign Out</a>
</div>
</div>
</div>
</div>
<br>
</body>

</div>

<footer class="footer footer-center p-4 index-footer-content text-white">

  <div>
    <p>Copyright © 2022 - Alia Pirruccello</p>
  </div>
  <!-- <div>
    <ul id="horizontal-list">
    <li><a href="https://twitter.com/apirruccello" class="icon brands fa-twitter alt"><span class="label">Twitter</span></a></li>
                      <li><a href="https://www.linkedin.com/in/alia-pirruccello/" class="icon brands fa-linkedin alt"><span class="label">LinkedIn</span></a></li>
                      <li><a href="https://github.com/aliapirruccello" class="icon brands fa-github alt"><span class="label">GitHub</span></a></li>
  </ul>
  </div> -->
</footer>
