<!DOCTYPE html>
<html lang="en" data-theme="cupcake">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Rose+Co helps hair stylists track all of their client information in one convenient place." />
    <title>Rose+Co</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="https://res.cloudinary.com/aliapurplejello/image/upload/v1667323919/rose-and-co-light_vjskbs.png"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css" />
<script src="https://cdn.tailwindcss.com"></script> 
<body id="signup">

  <header class="header-signin">
    <nav>
  <div class="navbar">
    <div class="flex-1">
      <a href="/" class="index-button">Rose+Co</a>
    </div>
  </nav>
</header>
<div class="my-clients-signup">
<div class="form">
  <div class="card card-compact w-96 shadow-xl sign-up-card">
  <div class="sign-up">Sign up for Rose+Co</div>
    <main class="container">
        <div class="row justify-content-center">
            <section class="col-6 mt-5">
                <% if (locals.messages.errors) { %>
                    <% messages.errors.forEach( el => { %>
                        <div class="alert"><%= el.msg %></div>
                    <% }) %>    
                <% } %>
                <% if (locals.messages.info) { %>
                    <% messages.info.forEach( el => { %>
                        <div class="alert"><%= el.msg %></div>
                    <% }) %>    
                <% } %>
                <form action="/signup" method="POST">
                    <div class="mb-3">
                        <label for="userName" class="form-label text-2xl">User Name</label>
                        <input type="text" class="input-primary" id="userName" name="userName">
                      </div>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label text-2xl">Email address</label>
                      <input type="email" class="input-primary" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
                      <div id="emailHelp" class="form-text text-xl">We'll never share your email with anyone.</div>
                    </div>
                    <div class="mb-3">
                      <label for="password" class="form-label text-2xl">Password</label>
                      <input type="password" class="input-primary" id="password" name="password">
                    </div>
                    <div class="mb-3">
                        <label for="confirmPassword" class="form-label text-2xl">Confirm Password</label>
                        <input type="password" class="input-primary" id="confirmPassword" name="confirmPassword">
                      </div>
                    <button type="submit" class="button-signin">Submit</button>
                  </form>
            </section>
        </div>
    </main>
  </div>
  </div>
</div>
</div>

<div class="bottom-signup">
</div>

<!-- Footer -->
<footer id="footer">
  <ul class="copyright">
    <li>&copy; Alia Pirruccello</li>
  </ul>
</footer>



