/* @import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/@ladjs/bootstrap-social/bootstrap-social.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid";
 */


body {
    background-color: rgb(214, 187, 171);
}

.phone-1 {
    margin-left: 30px;
    background-color: rgb(214, 187, 171);
}

.container {
    margin-left: 30px;
}

.badge-outline {
    margin-left: 10px;
    margin-bottom: 15px;

}

.text-neutral-content {
    position: fixed;
    bottom: 0;
    width: 100%;
   
 }

 .shadow-xl {
    margin-left: 3px;
    margin-bottom: 20px;
 }


 .profileform {
    margin-left: 30px;
 }

.logout {
    margin-left: 50px;
    margin-bottom: 50px;
}

.feedtop {
    margin-top: 20px;
    margin-left: 50px;
}

.feed {
    margin-left: 50px;
    margin-bottom: 80px;
}


.grid-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 1rem;
} 

.client-card {
    margin-bottom: 50px;

}


.main-class {
    background-color: rgb(214, 187, 171);
    /* min-height: calc(100vh - 50px); */
    text-align: center;
    margin-top: 30px;
   
}

.bottom-main {
    margin-top: 50px;
    margin-bottom: 70px;
}

.form {
    background-color: rgb(214, 187, 171);
    min-height: calc(100vh - 50px);
}

.card-section {
    margin-left: 20px;
    margin-top: 30px;
    display: flex;
    flex-direction: vertical;
    justify-items: center;
    align-items: center;

}

img {
    margin: auto;
    display: block;
}

.salonView {
    text-align: center;
}

.index-base-content {
    height: 100px;
    color: grey;
    
}

.sign-up {
    color: white;
    font-size: 2rem;

}

.login {
    color: white;
    font-size: 2rem;

}

.add-new-client {
    color: white;
    font-size: 2rem;
    margin-left: 2rem;
}

.index-footer-content {
    margin-top: 50px;
}

.header {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: rgb(201, 171, 163);
    /* opacity: .1; */
    padding: 30px 0;
    transition: 0.3s;
    height: 100px;

}

.footer {
    position: relative;
    padding: 30px 0;
    width: 100%;
    background-color: rgb(201, 171, 163);
    /* opacity: .1; */
    color: black;
    z-index: 999;
    height: 70px;
    
}

.footer-text {
    position: relative;
    z-index: 1;
}

.signin-btn {
    margin: 30px 30px 30px 0px;
}
