body {
    background-color: rgb(41, 48, 59);
}

.phone-1 {
    margin-left: 30px;
}

.container {
    margin-left: 30px;
}

.badge-outline {
    margin-left: 30px;
}

.text-neutral-content {
    position: fixed;
    bottom: 0;
    width: 100%;
   
 }

 .shadow-xl {
    margin-left: 3px;
    margin-bottom: 20px;
 }


 .profileform {
    margin-left: 30px;
 }

.logout {
    margin-left: 50px;
    margin-bottom: 50px;
}

.feedtop {
    margin-top: 20px;
    margin-left: 50px;
}

.feed {
    margin-left: 50px;
    margin-bottom: 80px;
}


.grid-container {
    display: flex;
    flex-wrap: wrap;
} 

.footer {
    width: 100%;
}

.clientcard {
    margin-bottom: 50px;
}